
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row"><div class="col-md-3 item">

</div><div class="col-md-3 item">
       
</div><div class="col-md-3 item">
  
</div><div class="col-md-3 item text">

</div>

<div class="col item social">
    <a href="#"><img th:src="@{/img/icons/facebook.png}" alt="Facebook" /></a>
    <a href="#"><img th:src="@{/img/icons/youtube.png}" alt="YouTube" /></a>
    <a href="#"><img th:src="@{/img/icons/instagram.png}" alt="Instagram" /></a>
</div>

                
 </div>
 
<p class="copyright">Le Comptoir du Miel &copy; 2020</p>
  </div>
        </footer>
    </div>


</body>

</html>






