
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Le comptoir du miel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav mr-auto">


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/miels}">Nos Miels</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Mon panier</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/signup}">Mon compte</a>
                    </li>
                                       
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Contactez nous</a>
                    </li>

            </ul>
        </div>

    </nav>

</body>

</html>