<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Commandes</title>
</head>
<body>
    <h2>Liste des Commandes</h2>
    <table>
        <thead>
            <tr>
                <th>Date de la commande</th>
                <th>Statut</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="commande : ${commandes}">
                <td th:text="${#dates.format(commande.dateCommande, 'dd/MM/yyyy HH:mm')}">01/01/2024 10:00</td>
                <td th:text="${commande.statut}">En cours</td>
                <td>
                    <a th:href="@{/}" class="btn btn-info">Détail de la commande</a>
                </td>
                <td>
                    <form th:action="@{/}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">Supprimer la commande</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
