<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Erreur de Commande</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Erreur lors de la validation de votre commande</h2>
            <div class="alert alert-danger">
                <p>Des erreurs sont survenues lors de la tentative de validation de votre commande :</p>    
            </div>
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
