<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Connexion et d'Inscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


 <header>
<div th:replace="fragments/menu"></div>    
</header>


<body>

    <div class="container mt-5">
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-warning text-white"> 
                        <h3 class="mb-0">Inscription</h3>
                    </div>
                <div class="card-body">

                   
                    <form action="#" th:action="@{/signup}" th:object="${utilisateurRegisterForm}" method="post">

            				<div class="form-group">
               					<label for="nom">Nom</label>
                				<input type="text" class="form-control is-valid" id="nom"
                       				th:field="*{nom}" th:placeholder="*{nom}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
                            <div class="form-group">
               					<label for="prenom">Prénom</label>
                				<input type="text" class="form-control is-valid" id="prenom"
                       				th:field="*{prenom}" th:placeholder="*{prenom}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
            				<div class="form-group">
               					<label for="adresseMail">Adresse Mail</label>
                				<input type="email" class="form-control is-valid" id="adresseMail"
                       				th:field="*{adresseMail}" th:placeholder="*{adresseMail}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
            				<div class="form-group">
               					<label for="motDePasse">Mot de passe</label>
                				<input type="password" class="form-control is-valid" id="motDePasse"
                       				th:field="*{motDePasse}" th:placeholder="*{motDePasse}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
            				<div class="form-group">
               					<label for="telephone">Téléphone</label>
                				<input type="number" class="form-control is-valid" id="telephone"
                       				th:field="*{telephone}" th:placeholder="*{telephone}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
            				<h3>Adresse</h3>
            				
            				
            				<div class="form-group">
               					<label for="validationAdresse">Rue</label>
                				<input type="text" class="form-control is-valid" id="validationAdresse"
                       				th:field="*{adresse.rue}" th:placeholder="*{adresse.rue}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
                           <div class="form-group">
               					<label for="validationCodePostal">Code postal</label>
                				<input type="text" class="form-control is-valid" id="validationCodePostal"
                       				th:field="*{adresse.codePostal}" th:placeholder="*{adresse.codePostal}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
                            <div class="form-group">
               					<label for="validationVille">Ville</label>
                				<input type="text" class="form-control is-valid" id="validationVille"
                       				th:field="*{adresse.ville}" th:placeholder="*{adresse.ville}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				
                            <div class="form-group">
               					<label for="validationPays">Pays</label>
                				<input type="text" class="form-control is-valid" id="validationPays"
                       				th:field="*{adresse.pays}" th:placeholder="*{adresse.pays}" required/>
                				<div class="valid-feedback"></div>
                				<div class="invalid-feedback">Please fill out this field.</div>
            				</div>
            				

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>J'ai lu et accepté les informations sur la confidentialité de mes données<a href="#" class="term-service">Terms of service</a></label>
                            </div>

                             <button type="submit" name="signup" id="signup" class="btn btn-warning btn-block text-white" value="Submit">Créer un Compte</button> 
                         </form>                                   				                				                         
    </div>

</div>

</div>

</div>

<div th:replace="fragments/footer"></div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
